<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{#if description}}{{description}}{{else}}Superuser - The all-in-one analytics and customer support platform for solopreneurs and small businesses{{/if}}">
  <title>{{#if title}}{{title}} | {{/if}}Superuser</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="font-sans antialiased">
  {{> header}}

  <main>
    {{{content}}}
  </main>

  {{> footer}}
</body>
</html>
